<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YNS FIFA Player Data Viewer</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" defer></script>
</head> 
<body>
    <img src="/workspaces/project-webontwikkeling-Younesxb/public/images/logo.jpg" alt="">
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a href="/overview" class="navbar-link">Overview</a></li>

            <% if (!isAuthenticated) { %>
                <li class="navbar-item"><a href="/login" class="navbar-link-right">Login</a></li>
                <li class="navbar-item"><a href="/register" class="navbar-link-right">Register</a></li>
            <% } else { %>
                <li class="navbar-item"><a href="/register" class="navbar-link">Logged in as <%= username %></a></li>
                <li class="navbar-item"><form action="/logout" method="post"><button type="submit" class="navbar-link">Logout</button></form></li>


            
            <% } %>
        </ul>

        
    </nav>
    <main>
