<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YNS FIFA Player Data Viewer</title>
  
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" defer></script>

 

</head>
<body>
 
    <h1>Welcome to the YNS FIFA Player Data Viewer!</h1>
    <nav class="navbar">
        <img src="/images/logo.jpg" alt="" width="100px">
        <ul class="navbar-list">
         
            <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a href="/overview" class="navbar-link">Overview</a></li>
        </ul>
    </nav>
    
 