<%- include('partials/header') %>

<ul class="player-list">
    <% players.forEach(player => { %>
        <li class="player-item">
            <a href="/detail/<%= player.id %>" class="player-link">
                <div class="player-info">
                    <div>
                        <img src="<%= player.nationalityIconURL %>" alt="<%= player.nationality %> flag" class="icon">
                    </div>
            </a>
        </li>
    <% }); %>
</ul>


