<nav class="navbar">
   
    <ul class="navbar-list">
        <img src="/public/images/logo.jpg" alt="" width="200px"><br>
        <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="/overview" class="navbar-link">Overview</a></li>
        <!-- Voeg hier eventueel meer navigatie-items toe -->
    </ul>
</nav>
