
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player List</title>
    <link rel="stylesheet" href="/css/style.css"> 

</head>
<body>
    <h1>Welcome to the YNS FIFA Player Data Viewer!</h1>
    <ul class="player-list">
        <% players.forEach(player => { %>
            <li class="player-item">
                <a href="/detail/<%= player.id %>">
                    <img src="<%= player.imageURL %>" alt="<%= player.name %>" class="player-image">
                    <span class="player-name"><%= player.name %></span>
                </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
