body {
   
    background-color: lightsteelblue;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}



h1 {
    font-size: 2rem;
    font-weight: 999;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 999;
    text-align: left;
    padding: 1rem;
}

.player-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.player-item {
    display: flex;
    border-bottom: 0.5rem solid black;
    padding-bottom: 1rem;
}

.player-image {
    width: 200px;
    flex-shrink: 0; 
}

.player-info {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.player-info > div {
    margin-bottom: 5px;
    padding-right: 10px;
}


.label {
    font-weight: bold;
    color: blue;
}

.player-details {
    display: flex; 
    border-right: 0.5rem solid black; 
  
}

.player-link {
    display: flex;
    flex: 1;
}

.player-details > div {
    padding: 0.5rem; /
}

.player-details > div:not(:last-child) {
    border-right: 0.5rem solid black; /
}

.player-details > span {
    margin-right: 0;
}

nav {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    border-bottom: 0.5rem solid black;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-link:hover {
    color: darkgray;
}

footer {
    text-align: center;
    font-weight: 999;
    grid-area: footer;
}

span {
    display: flex;
    flex-grow: 1;
    font-weight: 999;
}


/*overview*/



.controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-form, .search-form {
    display: flex;
    align-items: center;
}

.sort-form select, .search-form input {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 0.1rem solid black;
}

.sort-form button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sort-form button:hover {
    background-color: #45a049;
}



.search-form button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

#playersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#playersTable th, #playersTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#playersTable th {
    background-color: #f2f2f2;
}

#playersTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#playersTable tbody tr:hover {
    background-color: #ddd;
}
