

body {
    background-color:lightsteelblue;
}

h1 {
    font-size: 2rem;
    font-weight: 999;
    text-align: center;
  
}

.player-list {
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.player-item {
    display: flex;
    justify-content: space-between; /* Om de afbeelding en de informatie uit elkaar te duwen */
    align-items: center;
    margin-bottom: 20px; /* Ruimte tussen elk item */
    border-bottom: 0.5rem solid black;
}

.player-image { 
    width: 200px; /* Vaste breedte voor de afbeeldingen */
    height: auto; /* Behoud de aspectverhouding */
    display: block; /* Zorgt ervoor dat de afbeeldingen niet inline worden weergegeven */
    margin-right: 20px; /* Ruimte tussen de afbeelding en de naam */
}





.player-details {
    display: flex; /* Weergeven van de geboortedatum en positie naast elkaar */
}

.player-details > span {
    margin-right: 10px; /* Tussenruimte tussen de geboortedatum en positie */
}


nav {
    font-size: 2rem;
}

footer {
    text-align: center;
    font-weight: 999;
}   


span {
    display: flex;  
    flex-grow: 1; 
    font-weight: 999;

}